@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap')

@import 'buttons';
@import 'dimensions';
@import 'forms';
@import 'typography';
@import 'layouts';
@import 'components';

$gap: 10px;

html
    font-family: 'Heebo', sans-serif
    font-size: 16px
    word-spacing: 1px
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    box-sizing: border-box

*,
*::before,
*::after
    box-sizing: border-box
    margin: 0


.back-button
    position: fixed
    bottom: 80px
    display: block
    padding: 10px
    background-color: #eee
    width: 60px
    text-align: center
    font-size: 24px
    text-decoration: none
    border-radius: 50px
    color: #000
    left: 50%
    transform: translateX(-50%)

img.placeholder
    max-width: 120px
    margin-bottom: 30px